h1 {
    text-align: center;
width: fit-content;
margin: 0 auto;
}
img {
    width: 100%;
}
div{
    width: 60%;

}
.alm{
    width: 60%;
    display: ;
    float: right;
}
}.www{
    margin-right: auto;
    width: ;
}.qqq{
    margin-bottom: 0%;
}body { background-color: cornsilk;}
.sat{
    width: 50%;
}.aaa{
    font-size: larger;
}.rrr{font-size: larger;}